*#
*.log
*.plt
*~
.#*
.*DS_Store
.DS_Store
.erlang.mk
.erlang.mk.*
.eunit
.fuse_hidden*
/*.d
Dockerfile
_rel
beam-docker-release-action
cover
db
deps
ebin
elvis
elvis.config
erl_crash.dump
logs
relx
xrefr
