*~
*.plt
erl_crash.dump
deps
.eunit
.DS_Store
.erlang.mk.*
ebin
_rel
relx
logs
.erlang.mk
db
xrefr
pgec.d
elvis
elvis.config
.fuse_hidden*
.*DS_Store
cover
*#
.#*
*.log
Dockerfile
beam-docker-release-action
